server {
    listen 80;
    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /employees {
        try_files $uri $uri/ /index.html;
    }

    location /projects {
        try_files $uri $uri/ /index.html;
    }

    location /departments {
        try_files $uri $uri/ /index.html;
    }

    location /auth {
        try_files $uri $uri/ /index.html;
    }

    # proxy API calls as before
    location /api/employees/ {
        proxy_pass http://employee-performance-service.default.svc.cluster.local:8082/;
    }

    location /api/profiles/ {
        proxy_pass http://profile-service.default.svc.cluster.local:8081/;
    }

    location /api/gateway/ {
        proxy_pass http://gateway-service.default.svc.cluster.local:80/;
    }

    location /api/discovery/ {
        proxy_pass http://discovery-service.default.svc.cluster.local:8761/;
    }
}